/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    
    padding: 20px;
}

header img {
    border-radius: 50%;
    width: 200px;
    animation: fadeIn 3s;
}


#about {
    padding: 40px;
    text-align: center;
}

#about h2 {
    animation: fadeInUp 4s;
}

#about p {
    animation: fadeInUp 4s;
}
#image{
    display: flex;
    justify-content: flex-end;
}
#a1{
    text-decoration: none;
    text-indent: 2px;
    color: #000;
    cursor: pointer;
   border: 1px solid white;
    justify-content: center;
    align-items: baseline;
    border-radius: 10px;

    text-indent: 30px;
    justify-content: space-betweenS;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#a1:hover{
    text-decoration: none;
    text-indent: 2px;
    color: #000;
    cursor: pointer;
   border: 1px solid black;
   border-radius: 10px;
    justify-content: space-between;
    
    text-indent: 30px;
    justify-content: space-betweenS;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.robot-type {
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid black; /* The cursor */
    animation: typing 2s steps(30, end), blink .5s infinite alternate;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink {
    from { border-color: transparent; }
    to { border-color: black; }
  }
/*  */
#links{
    display: flex;

    text-indent: 20px;
}



/*  */
.h1c{
    background-color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header img {
        width: 150px;
    }
    /* Other responsive styles */
}

/* Keyframes for Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
body{
    background: linear-gradient(to right, #5d4157, #a8caba);

}